- unless current_order.nil?
  - if current_order.persisted? && !current_order.order_items.empty?
    = link_to cart_path, {class: 'shop-link pull-right hidden-xs'} do
      %span.shop-icon
        %span.shop-quantity
          = current_order.items_sum
  - if current_order.persisted? && !current_order.order_items.empty?
    = link_to cart_path, {class: 'shop-link pull-right visible-xs'} do
      %span.shop-icon
        %span.shop-quantity
          = current_order.items_sum
